@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("cards.css");

:root {
  /* Primary colors */
  --blue: hsl(246, 80%, 60%);
  --work-light-red: hsl(15, 100%, 70%);
  --play-soft-blue: hsl(195, 74%, 62%);
  --study-light-red: hsl(348, 100%, 68%);
  --exercise-lime-green: hsl(145, 58%, 55%);
  --social-violet: hsl(264, 64%, 52%);
  --self-care-soft-orange: hsl(43, 84%, 65%);

  /* Neutral colors */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --card-hover: hsl(238, 40%, 32%);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
  /* var(--primary-blue); */
}

.container-main {
  display: grid;
  grid-template-columns: 255px 840px;
  height: 543px;
  width: 1095px;
  background-color: var(--very-dark-blue);
  margin-top: 20vh;
}

/* Menu lateral */

.menu-lateral {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  margin-right: 15px;
}

.container-perfil {
  display: grid;
  grid-template-rows: 40% 60%;
  height: 325px;
  z-index: 1;
  padding: 32px 0 0 32px;
  background-color: var(--blue);
  border-radius: 20px;
}

.container-avatar {
  width: 80px;
}

.avatar {
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
}

.container-info-perfil {
  display: grid;
  align-items: start;
  height: 80%;
}

/*Report for*/
.titulo-perfil {
  margin-top: -2px;
  font-size: 14px;
  font-weight: bold;
  color: var(--pale-blue);
}

/*Jeremy Robson*/
.perfil-nome {
  margin-top: -40px;
  font-size: 40px;
}

.container-lista {
  display: grid;
  align-items: center;
  height: 150px;
  background-color: var(--dark-blue);
  border-radius: 20px;
  margin-top: -20px;
  padding: 32px 0 0 32px;
}

.ul-lista {
  display: grid;
  align-items: center;
  margin-top: -20px;
}

.item-lista {
  display: grid;
  align-items: center;
  height: 40px;
  font-size: 1.1rem;

  color: var(--desaturated-blue);
  font-weight: bold;
  transition: 0.5s;
}

.item-lista:hover {
  color: #ffffff;
  cursor: pointer;
  padding-left: 10px;
}

/* Selected period */
.selected {
  color: #ffffff;
  padding-left: 10px;
}
