@media (max-width: 815px){
    .main-content {
        padding: 5% 10%;
        display: grid;
        grid-template-columns: 25% 110%;
        grid-column-gap: 5%;
        height: 100vh;
        width: 100%;
        position: absolute;
        background-color: var(--very-dark-blue);
    }
    
    .side-menu {
        display: flex;
        flex-direction: column;
        height: 80%;
        background-color: var(--dark-blue);
        border-radius: 16px;
    }
    
    .cards-section {
        display: flex;
        width: 54%;
        height: 80%;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
    
    .primary-cards {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    
    .secundary-cards {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: flex-end;
        flex-direction: column;
    }
    
    .container-card {
        height: 86%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        border-radius: 16px;
        position: relative;
        margin-bottom: 15px;
    }
}