@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url("reset.css");
@import url("cards.css");
@import url("select.css");

:root{
    --bkg-primary: hsl(246, 80%, 60%);
    --bkg-work: hsl(15, 100%, 70%);
    --bkg-play: hsl(195, 74%, 62%);
    --bkg-study: hsl(348, 100%, 68%);
    --bkg-exercise: hsl(145, 58%, 55%);
    --bkg-social: hsl(264, 64%, 52%);
    --bkg-selfCare: hsl(43, 84%, 65%);

    --primary-veryDark: hsl(226, 43%, 10%);
    --primary-dark: hsl(235, 46%, 20%);
    --primary-desaturated: hsl(235, 45%, 61%);
    --primary-pale: hsl(236, 100%, 87%);

    --font: 'Rubik';
    --weight-normal: 300;
    --weight-bold: 400;
    --weight-extraBold: 500;
    --size: 18px;
}

body{
    color: #f9f9f9;
    background-color: var(--primary-veryDark);
    font-family: var(--font), sans-serif ;
    font-size: var(--size);
    min-height: 100vh;
    min-width: 100vw;
}

main{
    display: flex;
    margin: 0 auto;
    padding-top: calc((100vh - 416px)/2);
    column-gap: 1rem;
    width: fit-content;
}

@media screen and (max-width: 1100px){
    main{
        flex-direction:  column;
        padding: 5rem 0;
        row-gap: 2rem;
        width: 90%;
    }
}