fieldset{
    margin: 1rem;
}
input{
    opacity: 0;
    width: 0;
    height: 0;
}
label{
    cursor: pointer;
    color: var(--primary-pale);
}
input:checked ~ label{
    color: #f9f9f9;
}

main:has(#checkDaily:checked) #daily{
    display: flex;
}
main:has(#checkDaily:not(:checked)) #daily{
    display: none;
}
main:has(#checkWeekly:checked) #weekly{
    display: flex;
}
main:has(#checkWeekly:not(:checked)) #weekly{
    display: none;
}
main:has(#checkMonthly:checked) #monthly{
    display: flex;
}
main:has(#checkMonthly:not(:checked)) #monthly{
    display: none;
}

@media screen and (max-width: 1100px){
    #check-container{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
}