* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Rubik', sans-serif;
  }
  
  /* Variáveis que definem as cores do projeto */
  :root{
    --blue: hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange: hsl(43, 84%, 65%);
  
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --dark-blue-hover: hsl(234, 34%, 35%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
  }
  
  .content {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    grid-template-areas:
      "item1 item2 item3 item4"
      "item1 item5 item6 item7";
    gap: 25px;
    padding: 20px;
  }
  
  .boxes {
    border-radius: 10px;
    color: white;
  }
  
  .box_jeremy {
    grid-area: item1;
    border-radius: 10px;
    color: white;
    margin-left: 50px;
  }
  
  .dados_jeremy{
    padding: 1rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 72%;
    border-radius: 15px;
    z-index: 10;
    padding-left: 2rem;
    padding-top: 2rem;
  }
  
  .imagem_jeremy{
    width: 5rem;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  
  .dados_jeremy h1{
    width: 50%;
  }
  
  .dados_jeremy p{
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    color: var(--pale-blue);
  }
  
  .menu_bottom{
    margin-top: -25px;
    background-color: var(--dark-blue);
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: var(--dark-blue);
    height: 32.8%;
  }
  
  .menu_bottom .text_menu_bottom ul{
    margin-top: 1.2rem;
    margin-left: 1.8rem;
    padding: 5px 0;
  }
  
  .menu_bottom .text_menu_bottom ul li{
    list-style: none;
    margin: 1rem;
  }
  
  h1, h3{
    font-weight: 100;
  }
  
  /* Estilos e posicionamento dos links da li */
  .menu_bottom .text_menu_bottom ul li a{
    text-decoration: none;
    color: #fff;
  } 
  
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
  }
  .item6 {
    grid-area: item6;
  }
  .item7 {
    grid-area: item7;
  }
  
  p {
    color: white;
  }
  
  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header_content h2 {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .box1 {
    width: 100%;
    height: 23%;
    border-radius: 15px 15px 0 0;
    background-color: var(--light-red-work);
    background-image: url("../images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .box2 {
      width: 100%;
      height: 23%;
      border-radius: 15px 15px 0 0;
      background-color: var(--soft-blue);
      background-image: url("../images/icon-play.svg");
      background-repeat: no-repeat;
      background-position: right;
  }
  
  .box3 {
      width: 100%;
      height: 23%;
      border-radius: 15px 15px 0 0;
      background-color: var(--light-red-study);
      background-image: url("../images/icon-study.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  
    .box4 {
      width: 100%;
      height: 23%;
      border-radius: 15px 15px 0 0;
      background-color: var(--lime-green);
      background-image: url("../images/icon-exercise.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  
    .box5 {
      width: 100%;
      height: 23%;
      border-radius: 15px 15px 0 0;
      background-color: var(--violet);
      background-image: url("../images/icon-social.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  
    .box6 {
      width: 100%;
      height: 23%;
      border-radius: 15px 15px 0 0;
      background-color: var(--soft-orange);
      background-image: url("../images/icon-self-care.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
  
  
  .box_dados {
    padding: 1rem;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 82%;
    border-radius: 15px;
    top: -0.8rem;
    padding: 1.6rem;
  }
  
  .box_dados:active{
    background-color: var(--dark-blue-hover);
    cursor: pointer;
  }
  
  .box_dados h3 {
    font-size: 2.8rem;
    margin: 2.5rem 0 1.5rem 0;
  }
  
  .box_dados p {
    font-size: 0.8rem;
    color: var(--pale-blue);
  }
  
  @media screen and (max-width: 768px) {
    .container {
      height: auto;
      max-width: 100vw;
    }
  
    .content {
      width: 90%;
      height: auto;
      justify-content: center;
      grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7";
    }
  
    .boxes{
      margin-bottom: 2.5rem;
    }
  
    .box_dados{
      height: 100%;
    }
  
    .box_jeremy{
      margin-left: 0px;
      margin-bottom: 1.5rem;
    }
  
    .dados_jeremy{
      flex-direction: row;
      align-items: center;
    }
  
    .menu_bottom{
      height: 55%;
      width: 100%;
    }
  
    .menu_bottom .text_menu_bottom ul li{
      flex-direction: row;
      display: inline;
    }
    
    .imagem_jeremy{
      width: 4.5rem;
      margin-right: 1rem;
    }
  
    .nome_jeremy{
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .nome_jeremy h1{
      width: 100%;
      font-size: 1.3rem;
    }
  
    .dados_jeremy p{
      margin-top: 0%;
    }
  
    .dados_jeremy{
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 2rem;
    }
  
    /* ************** */
  
    .dados_content{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.8rem;
    }
  
    .box_dados h3 {
      font-size: 2.8rem;
      margin: 0;
    }
  
    .box1, .box2, .box3, .box4, .box5, .box6 {
      width: 100%;
      height: 35%;
    }
  
  }
  
  