* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #FFF;
}

.container-main {
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #0F1424;
}

.whrapper-page {
    display: grid;
    grid-template-columns: 200px 800px;
    align-items: center;
    height: 450px;
    width: 100%;
    gap: 2rem;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    height: 420px;
    border-radius: 1rem;
}

.container-perfil {
    display: grid;
    grid-template-rows: 40% 60%;
    background-color: #5847E6;
    height: 70%;
    z-index: 1;
    padding: 2rem 0 0 2rem;
    border-radius: 1rem;
}

.container-info-perfil {
    display: grid;
    align-content: end;
    height: 70%;
}

.title-perfil {
    font-size: .8rem;
}

.perfil-nome {
    font-size: 2rem;
}

.container-lista {
    display: grid;
    align-items: end;
    height: 40%;
    margin-top: -1rem;
    padding-left: 2rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #1E204C;
}

.item-lista {
    height: 2.5rem;
}

.imagem-perfil {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.container-cards {
    display: grid;
    align-content: space-between;
    grid-template-rows: 50% 50%;
    height: 100%;
    margin-top: 2rem;
}

.cards-superiores, .cards-inferiores {
    display: flex;
    align-items: start;
    justify-content: space-between;
    z-index: 0;
    position: relative;
}

.cards-inferiores {
    align-items: end;
}

.card {
    display: grid;
    width: 250px;
    height: 150px;
    border-radius: 1rem;
    padding: 2rem 2rem 0 2rem;
    background-color: #1E204C;
    position: relative;
    z-index: 1;
}

.cards-superiores .card {
    top: 3rem;
}

.cards-inferiores .card {
    top: 3rem;
}

.cards-inferiores .container-card {
    top: -3rem;
}

.container-card {
    position: relative;
}

.container-card {
    border-radius: 1rem 1rem 0 0;
    width: 250px;
    height: 180px;
    background: url("./images/icon-work.svg") no-repeat top -.5rem right 1rem #FF8964;
}

.container-card-Play {
    background: url("./images/icon-play.svg") no-repeat top -.5rem right 1rem #56C2E4;
}

.container-card-Study {
    background: url("./images/icon-study.svg") no-repeat top -.5rem right 1rem #FE5E7D;
}
.container-card-exercise {
    background: url("./images/icon-exercise.svg") no-repeat top -.5rem right 1rem #4DCF83;
}
.container-card-social {
    background: url("./images/icon-social.svg") no-repeat top -.5rem right 1rem #7335D3;
}
.container-card-self-care {
    background: url("./images/icon-self-care.svg") no-repeat top -.5rem right 1rem #F0C659;
}

.header-card {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hora-inicio {
    font-size: 3.5rem;
}