.container-card {
  width: 840px;
}

/* Linhas dos cards */
.rows {
  display: flex;
  background-color: #01011f;
}

.superiores {
  display: flex;
  /* justify-content: space-between; */
  height: 50%;
}

.inferiores {
  display: flex;
  /* justify-content: space-between; */
  height: 50%;
}

/* Cards */

.card {
  position: relative;
  background-color: #121d42;
  width: 250px;
  height: 200px;
  margin: 44px 0px 0px;
  border-radius: 20px;
}

.top-card{
  margin: 0px 15px 30px 15px;
  border-radius: 20px 20px 60px 60px;
}

.work{
  background: url("./time-tracking-dashboard-main/images/icon-work.svg") 
  no-repeat top -.5rem right 1rem #FF8B64;
}

.play{
  background: url("./time-tracking-dashboard-main/images/icon-play.svg") 
  no-repeat top -.5rem right 1rem #56C2E6;
}

.study{
  background: url("./time-tracking-dashboard-main/images/icon-study.svg") 
  no-repeat top -.5rem right 1rem #FF5E7D;
}

.exercise{
  background: url("./time-tracking-dashboard-main/images/icon-exercise.svg") 
  no-repeat top -.5rem right 1rem #4BCF83;
}

.social{
  background: url("./time-tracking-dashboard-main/images/icon-social.svg") 
  no-repeat top -.5rem right 1rem #7235D1;
}

.self-care{
  background: url("./time-tracking-dashboard-main/images/icon-self-care.svg") 
  no-repeat top -.5rem right 1rem #F1C75B;
}

/*Partes internas dos cards*/

.inner-card {
  padding-top: 30px;
  margin: 30px;
}

.header-card {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: bold;
}

.opcao-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipsis {
  transition: transform 0.3s ease-out;
}

.ellipsis:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.body-card {
  margin-top: 25px;
  font-size: 55px;
}

.rodape-card {
  margin-top: 6px;
}

.resumo-atividade {
  font-size: 15px;
  color: #b5b5b5;
  font-weight: bold;
}
