.container-card {
  width: 840px;
}

/* Linhas dos cards */
.rows {
  display: flex;
  /* justify-content: space-between; */
  background-color: #01011f;
  /* height: 100%; */
}

.superiores {
  display: flex;
  /* justify-content: space-between; */
  height: 50%;
}

.inferiores {
  display: flex;
  /* justify-content: space-between; */
  height: 50%;
}

/* Cards */
/* 22% o pedaço colorido em relação a altura de um card */
.card {
  position: relative;
  background-color: #121d42;
  width: 250px;
  height: 195px;
  margin: 50px 15px 0px;
  border-radius: 20px;
}

/*Partes internas dos cards*/

.inner-card {
  /* height: 100%; */
  margin: 30px;
}

.header-card {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: bold;
}

.opcao-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipsis {
  transition: transform 0.3s ease-out;
}

.ellipsis:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.body-card {
  margin-top: 25px;
  font-size: 55px;
}

.rodape-card {
  margin-top: 6px;
}

.resumo-atividade {
  font-size: 15px;
  color: #b5b5b5;
  font-weight: bold;
}
