@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("cards.css");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01011f;
}

.container-main {
  display: grid;
  grid-template-columns: 255px 840px;
  height: 543px;
  width: 1095px;
  background-color: #01011f;
  margin-top: 20vh;
}

/* Menu lateral */

.menu-lateral {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  margin-right: 15px;
}

.container-perfil {
  display: grid;
  grid-template-rows: 40% 60%;
  height: 325px;
  z-index: 1;
  padding: 32px 0 0 32px;
  background-color: #5843e4;
  border-radius: 20px;
}

.container-avatar {
  width: 80px;
}

.avatar {
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
}

.container-info-perfil {
  display: grid;
  align-items: start;
  height: 80%;
}

/*Report for*/
.titulo-perfil {
  margin-top: -2px;
  font-size: 14px;
  font-weight: bold;
  color: #b5b5b5;
}

/*Jeremy Robson*/
.perfil-nome {
  margin-top: -40px;
  font-size: 40px;
}

.container-lista {
  display: grid;
  align-items: center;
  height: 150px;
  background-color: #121d42;
  border-radius: 20px;
  margin-top: -20px;
  padding: 32px 0 0 32px;
}

.ul-lista {
  display: grid;
  align-items: center;
  margin-top: -20px;
  /* padding-left: 20px; */
}

.item-lista {
  display: grid;
  align-items: center;
  height: 40px;
  font-size: 1.1rem;
  /* margin-top: -20px; */
  color: #808080;
  font-weight: bold;
  transition: 0.5s;
}

.item-lista:hover {
  color: #ffffff;
  cursor: pointer;
  padding-left: 10px;
}
