* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #eeeeff;    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body {
    background-color: #0d1323;
    margin:200px
}

.whrapper-page {
    display: grid;
    grid-template-columns: 200px 800px;
    height: 100vh;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 280px;
    border-radius: 16px;
}

.container-perfil {
    display: grid;
    grid-template-rows: 30% 60%;
    height: 40%;
    z-index: 1;
    padding: 32px 0 0 32px;
    background-color: #5746ea;
    border-radius: 16px;
}

.container-avatar > img {
    width: 100px;    
    border-radius: 50%;
    border: 3px solid white;
}

.container-info-perfil {
    display: grid;
    align-items: start;
    height: 50%;
}

.titulo-perfil {
    font-size: 16px;
    margin-top: 27px;
}

.perfil-nome {
    font-size: 42px;
}

.container-lista {
    background-color: #1d204b;    ;
    display: grid;
    align-items: end;
    height: 23%;
    border-radius: 16px;
    margin-top: -1rem;
    padding-left: 2rem;
}

.item-lista {
    height: 40px;
    font-size: 18px;
}

.container-card {
    display: grid;
    align-content: space-between;
    height: 10%;
    margin-left: 6rem;
}

.cards-superiores {
    display: flex;
    align-items: start;
    z-index: 0;
    position: relative;
}

.cards-inferiores {
    display: flex;
    align-items: end;
    z-index: 0;
    position: relative;
}

.cards-superiores .card {
    top: 1rem;
}

.cards-inferiores .card {
    top: 1rem;
}


.container-cover-work {
    position: relative;
    height: 60%;
    margin-left: 30px;
    border-radius: 16px; 
    background: url("./images/icon-work.svg") no-repeat top -.1rem right -.1rem #ff8b64;;
}

.container-cover-play {    
    position: relative;
    height: 60%;
    margin-left: 30px;
    border-radius: 16px; 
    background: url("./images/icon-play.svg") no-repeat top -.1rem right -.1rem #56C2E4;
}

.container-cover-study {
    position: relative;
    height: 60%;
    margin-left: 30px;
    border-radius: 16px; 
    background: url("./images/icon-study.svg") no-repeat top -.1rem right -.1rem #ff5e7d;
}

.container-cover-exercise {
    position: relative;
    height: 60%;
    top: -2.5rem;
    margin-left: 30px;
    border-radius: 16px; 
    background: url("./images/icon-exercise.svg") no-repeat top -.1rem right -.1rem #4bcf83;
}

.container-cover-social {
    position: relative;
    top: -2.5rem;
    height: 60%;
    margin-left: 30px;
    border-radius: 16px; 
    background: url("./images/icon-social.svg") no-repeat top -.1rem right -.1rem #7235d1;
}

.container-cover-selfcare {
    position: relative;
    top: -2.5rem;
    height: 60%;
    margin-left: 30px;
    border-radius: 16px; 
    background: url("./images/icon-self-care.svg") no-repeat top -.1rem right -.1rem #f1c75b;
}

.card {
    width: 230px;
    height: 18vh;
    z-index: 1;
    display: grid; 
    background-color: #1d204b;
    padding: 32px;
    margin-top: 50px;
    border-radius: 16px;
    position: relative;
}

.header-card {
    display: flex;
    padding-left: 5px;
}

.header-card > .titulo-card {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: -10px; left: -10px;
}

.hora-inicio {
    font-size: 50px;
}

.header-card > .opcao-card img{
    padding-left: 115px;
}

.header-card > .opcao-card2 img{
    padding-left: 90px;
}

.header-card > .opcao-card3 img{
    padding-left: 100px;
}

.header-card {
    max-width: 80px;
}
