* {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body {
    background-color: #010111;
    margin:130px;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 280px;
    border-radius: 16px;
}

.container-perfil {
    display: grid;
    grid-template-rows: 40% 60%;
    height: 50%;
    z-index: 1;
    padding: 32px 0 0 32px;
    background-color: #1b4444;
    border-radius: 16px;
}
.container-avatar > img {
    width: 100px;
}

.container-info-perfil {
    display: grid;
    align-items: start;
    height: 50%;
}

.titulo-perfil {
    font-size: 16px;
}

.perfil-nome {
    font-size: 42px;
}

.container-lista {
    background-color: #07092c;
    display: grid;
    align-items: center;
    height: 25%;
    border-radius: 16px;
    margin-top: -36px;
    padding: 32px 0 0 32px;
}

.item-lista {
    height: 36px;
}

.container-card {
    display: grid;
    height: 100%;
}

.cards-superiores {
    display: flex;
}

.cards-inferiores {
    display: flex;
}

.container-cover {
    height: 20%;
    background-color: orange;
    margin-left: 30px;
}

.card {
    margin-top: 90px;
    height: 10vh;
    z-index:1;
    display: grid; 
    background-color: rgb(46, 155, 250);
    padding: 32px;
    margin-top: 70px;
}