@media (max-width: 1600px) {
    .whrapper-page {
        grid-template-columns: 160px 800px;
        gap: 1rem;
    }

    .container-card {
        width: 300px;
    }

    .menu-lateral {
        display: flex;
        flex-direction: column;
        height: 95%;
        width: 280px;
        border-radius: 16px;
    }

    .card {
        width: 250px;
    }

    .body-card {
        position: relative;
        top: -10px; left: -10px;
    }

    .hora-inicio {
        font-size: 32px;
    }

    .resumo-atividade {
        font-size: 14px;
        position: relative;
        top: -5px; left: -10px;
    }

    .titulo-perfil {
        font-size: 15px;
        margin-top: 60px;
    }

    .perfil-nome {
        font-size: 32px;
    }

    .opcao-card {
        position: relative;
        top: -10px; left: 10px;
    }

    .opcao-card2 {
        position: relative;
        top: -10px; left: 10px;
    }

    .opcao-card3 {
        position: relative;
        top: -10px; left: 10px;
    }
}

@media (max-width: 1285px) {
    .whrapper-page {
        grid-template-columns: 160px 300px;
        gap: 1rem;
    }

    .container-card {
        width: 170px;
    }

    .card {
        width: 100%;
    }

    .hora-inicio {
        font-size: 32px;
    }

    .resumo-atividade {
        font-size: 10px;
    }

    .titulo-perfil {
        font-size: 10px;
        margin-top: 60px;
    }

    .perfil-nome {
        font-size: 30px;
    }

    .opcao-card {
        position: relative;
        top: -20px; left: -85px;
    }

    .opcao-card2 {
        position: relative;
        top: -20px; left: -85px;
    }

    .opcao-card3 {
        position: relative;
        top: -20px; left: -85px;
    }
}

@media (max-width: 750px) {

    .whrapper-page {
        flex-direction: column;
        width: 400px;
        height: 10%;
    }

    .menu-lateral {
        height: 30%;
        width: 400px;
        border-radius: 16px;
        font-size: 12px;
    }

    .container-lista {
        height: 20%;
    }

    .item-lista {
        display: inline-block;
        height: 40px;
        font-size: 16px;
        margin: 0 0 0 45px;
        position: relative;
        top: -10px; left: 10px; 
    }

    .titulo-perfil {
        font-size: 14px;
        position: relative;
        top: -70px; left: 120px;
    }

    .perfil-nome {
        font-size: 30px;
        position: relative;
        top: -70px; left: 110px;
    }

    .container-cover-work {
        width: 400px;
    }

    .container-cover-play {
        width: 400px;
        margin-top: 30px;
    }

    .container-cover-study {
        width: 400px;
        margin-top: 30px;
    }

    .container-cover-exercise {
        width: 400px;
    }

    .container-cover-social {
        width: 400px;
        margin-top: 30px;
    }

    .container-cover-selfcare {
        width: 400px;
        margin-top: 30px;
    }

    .cards-superiores, .cards-inferiores {
        flex-direction: column;
    }

    .cards-superiores {
        margin-top: 20rem;
        margin-left: -18.5rem;
        margin-bottom: 3rem;
    }

    .cards-inferiores {
        margin-top: 3rem;
        margin-left: -18.5rem;
    }

    .card {
        display: flex;
    }
    
    .container-card {
        width: 40%;
    }
    
    .header-card > .titulo-card {
        font-weight: bold;
        font-size: 22px;
    }

    .header-card > .opcao-card img{
        position: relative;
        top: 10px; left: 210px;
    }

    .header-card > .opcao-card2 img{
        position: relative;
        top: 10px; left: 200px;
    }
    
    .header-card > .opcao-card3 img{
        position: relative;
        top: 10px; left: 220px;
    }

    .resumo-atividade {
        font-size: 16px;
        min-width: 50px;
        min-height: 50px;
        position: relative;
        top: 50px; left: 30px;
    }

    .card-div {
        padding-right: 100px;
    }
}

@media (max-width: 480px) {
    .whrapper-page {
        width: 320px;
    }

    
}